<form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">
	<div class="auth-form__fields">
		<div class="auth-form__field">
			<label for="login-email">Почта</label>
			<p-iconfield>
				<p-inputicon class="pi pi-envelope" />
				<input
					pInputText
					fluid
					id="login-email"
					type="email"
					placeholder="Введи электронную почту"
					formControlName="email"
					[invalid]="hasError('email')"
				/>
			</p-iconfield>

			@if (hasError('email')) {
				<p-message severity="error" size="small" variant="simple">
					Пожалуйста, введи корректную почту.
				</p-message>
			}
		</div>

		<div class="auth-form__field">
			<div class="auth-form__password">
				<label for="login-password">Пароль</label>
				<p-iconfield>
					<p-inputicon class="pi pi-lock" />
					<p-password
						fluid
						inputId="login-password"
						placeholder="Введи пароль"
						formControlName="password"
						[invalid]="hasError('password')"
						[feedback]="false"
						[toggleMask]="true"
					></p-password>
				</p-iconfield>

				@if (hasError('password')) {
					<p-message severity="error" size="small" variant="simple">
						Пароль обязателен.
					</p-message>
				}
			</div>

			<p-button class="forget-pass-button" label="Забыл пароль?" link />
		</div>
	</div>

	<p-button
		fluid
		type="submit"
		label="Войти"
		icon="pi pi-sign-in"
		size="large"
		[loading]="pending()"
		[disabled]="pending()"
	></p-button>
</form>
